section{
    background-color: black;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 40px 100px;
}
.titlePage{
    text-align: center;
}
.titlePage>h1{
    color: #e87060;
    font-size: 50px;
    font-weight: 500;
    padding-top: 50px
}
.prject{
    width: 425px;
    min-height: 500px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    margin-right: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.image{
    width: 100%;
    height: 450px;
    cursor: pointer;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: brightness(80%);
}
.data h2{
    color: white;
    font-size: 30px;
    margin-top: 10px;
}
.data a{
    border: 1px solid #e87060;
    padding: 2px 15px;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: #e87060;
    margin-left: 40%;
}

@media only screen and (max-width:992px){
    .parent{
        width: 100%;
        padding: 40px 20px;
        display: flex;
        justify-content: center;
    }
    .prject{
        width:45%;
        margin-right: 20px;
    }
}
@media only screen and (max-width:768px) {
    .parent{
        width: 100%;
        padding: 40px 50px;
    }
    .prject{
        width:100%;
        margin-right: 0px;
    }
}
@media only screen and (max-width:400px) {
    .parent{
        width: 100%;
        padding: 40px 20px;
    }
    .prject{
        width:100%;
    }
    .image{
        width: 100%;
        height: 350px;
        cursor: pointer;
    }
}
